h1 {
    font-family:
        Times New Roman,
        serif;
    margin: auto;
}

h3 {
    font-family:
        Times New Roman,
        serif;
    margin: auto;
}

h4 {
    font-family:
        Times New Roman,
        serif;
    margin: auto;
}

p {
    font-family:
        Times New Roman,
        serif;
    margin: auto;
}
